# Ignore virtual environment
venv/
 ec2venv/
# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore database files
*.sqlite3
*.db

# Ignore logs
*.log

# Ignore environment variable files
.env


